@import './HeaderFormatting.scss';


$yellow: #fdec00;

body {
    padding: 0px;
    margin: 0px;
}

.Header {
    background-color: black;
}


.title {
    color: $yellow;
    font-weight: 600;
    line-height: 0.8;
}

.MovieImage {
    height: auto;
    max-height: 250px;
    width: auto;
    max-width: 250px;
}

